@model Dog

<div class="card col-4" style="width: 18rem;">
    <img src="@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h4 class="card-title text-center">@Model.Breed</h4>
        <h6 class="text-muted text-center fst-italic">@Model.BreedInEnglish</h6>
        <p class="text-center">Группа FCI: @Model.FCIGroup</p>
        <p class="fw-bolder text-center">@Model.Origin</p>
        <p class="card-text">@Model.BehaviorCharacter</p>
        <a href="#" class="btn btn-info">Подробнее</a>
    </div>
</div>